pipeline/CaptureTableList_with_AppendVariable.json
{
	"name": "CaptureTableList_with_AppendVariable",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.TableList",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_CopyMultiSourceSQLfor",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().tableSchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().tableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_targetSQLTablesCopy",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "TableName_Append",
								"value": {
									"value": "@item().tableName",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FinalTableList",
								"value": {
									"value": "@variables('TableName_Append')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableList": {
				"type": "array",
				"defaultValue": [
					{
						"tableName": "iplteams",
						"tableSchemaName": "dbo"
					},
					{
						"tableName": "employees",
						"tableSchemaName": "dbo"
					},
					{
						"tableName": "salesitems",
						"tableSchemaName": "dbo"
					}
				]
			}
		},
		"variables": {
			"TableName_Append": {
				"type": "Array"
			},
			"FinalTableList": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-02-13T03:59:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}